<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>MORGUL RECORDS</span>
      <p class="slogan">Forged in Metal <br>
     Born within the flames of Ûdun</p>
    </div>
    <img ngSrc="assets/HeadlineImage.png"
         alt="Witch King of Angmar giving his blessing to a black metalhead image"
    width="669" height="536">
  </section>

  <section class="benefit-section">
    <div class="benefit-data">
      <h2>99% of the bands
      </h2>
    </div>
    <p>from <span class="mordor"> Mordor </span>are bound to Morgul Records. <span class="mordor"> Dare to rise. </span></p>
  </section>

  <section class="form-section">
    <app-btn-primary btn-text="Summon Us" [loading]="false" [disabled]="false"/>
  </section>
</main>
