@import "../../../color-variables";

.btn{
  font-family: 'Metal Mania', cursive;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 25px;

  &:disabled{
    opacity: 0.6;
  }



  &.primary{
    background: -webkit-linear-gradient(180deg, $mordor-soft, $mordor);
    color: $primary-text-color;

  }

  &.primary:hover{
    background: $primary-text-color none;

    color: $mordor;
  }

  &.secondary{
    background: $primary-text-color;
    color: $mordor;
  }


}

