@import "../../../color-variables";

.btn{
  font-family: 'Metal Mania', cursive;
  background-color: $mordor;
  color: $primary-text-color;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled{
    opacity: 0.6;
  }
}

.btn:hover{
  background-color: $primary-text-color;

  color: $mordor;
}
