@import "../../../color-variables";


.form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 70px;
  gap: 20px;

  background: -webkit-linear-gradient(180deg, $mordor-soft, $mordor);
  color: $primary-text-color;

  h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;

  }

  p{
    font-size: 16px;
    font-weight: 400;
  }

  .text{
    flex: 1;
  }

  form{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    gap: 20px;


    input{
      background: none;
      border: none;
      border-bottom: 1px solid $primary-text-color;
      width: 100%;

      height: 60px;
    }
  }

}

@media (min-width: 1080px) {
  .form-section{
    flex-direction: row;
    padding: 40px 120px;
    gap: 115px;
  }
}


